[Desktop Entry]
Encoding=UTF-8
Name=Distro Watcher
Name[de]=Distro Watcher
Name[el]=Distro Watcher
Name[es]=Distro Watcher
Name[it]=Distro Watcher
Name[lt]=Distro Watcher
Name[ru]=Distro Watcher
Name[zh_TW]=散佈版觀察家
Comment=Shows the latest releases of Linux distributions and packages
Comment[de]=Zeige die letzte Veröffentlichung von Linux Distributionen und Paketen
Comment[el]=Εμφανίζει τις τελευταίες κυκλοφορίες διανομών και πακέτων του Linux
Comment[es]=Muestra las distribuciones y los paquetes de Linux más recientes
Comment[it]=Mostra gli ultimi rilasci di distro Linux e pacchetti
Comment[lt]=Rodyti paskiausius Linux distribucijų ir paketų leidimus.
Comment[ru]=Показывает последние релизы дистрибутивов GNU/Linux и пакетов
Comment[zh_TW]=顯示 Linux 散佈版及軟體包的最新版本
Icon=distrowatcher.png
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=390,370

X-KDE-PluginInfo-Author=Dimitris Kardarakos
X-KDE-PluginInfo-Email=dimkard@gmail.com
X-KDE-PluginInfo-Name=org.kde.distrowatcher
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=org.kde.distrowatcher
X-KDE-PluginInfo-Version=0.11.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RequiredExtensions=LaunchApp
